/* Source: https://github.com/antfu/talks/blob/main/2024-12-28/src/style.css */
/* Transitions */
.slidev-vclick-target {
  transition:
    opacity 500ms ease,
    filter 200ms ease,
    color 300ms ease;
}

.slidev-vclick-hidden:not(:has(svg)):not(.rough-annotation) {
  opacity: 0;
  pointer-events: none;
  filter: blur(3px);
}

.fade-out-leave-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.6) ease-out,
    filter 200ms ease;
}

.fade-out-enter-active {
  transition:
    opacity calc(var(--slidev-transition-duration) * 0.8) ease-in,
    filter 200ms ease;
  transition-delay: calc(var(--slidev-transition-duration) * 0.6);
}

.fade-out-enter-from,
.fade-out-leave-to {
  opacity: 0;
  filter: blur(5px);
}

.slidev-code .line {
  transition: opacity 200ms ease;
}